In [1]:
2 + 2

4

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\golu\desktop\machine-learning-models\venv\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\golu\desktop\machine-learning-models\venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\golu\desktop\machine-learning-models\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\golu\desktop\machine-learning-models\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\golu\desktop\machine-learning-models\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\golu\desktop\machine-learning-models\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pd = pandas()

NameError: name 'pandas' is not defined

In [4]:
import pandas as pd

In [5]:
health_df = pd.read_csv("health_insurance_data.csv")

In [6]:
health_df

       age     sex   bmi  children smoker     region  charges
0       56    male  29.9         3     no  southwest  2852.92
1       46  female  20.8         4     no  northwest  3101.69
2       32    male  29.0         4     no  northeast  2948.21
3       60    male  31.9         0     no  northeast  2822.84
4       25    male  32.0         1    yes  northwest  7057.69
...    ...     ...   ...       ...    ...        ...      ...
49995   60  female  32.9         2     no  northwest  2127.38
49996   46    male  38.1         1    yes  northwest  6280.25
49997   19  female  23.5         4    yes  southeast  5991.79
49998   43  female  25.6         3     no  southwest  1054.84
49999   28  female  19.1         0     no  northwest  2657.62

[50000 rows x 7 columns]

In [7]:
health_df

       age     sex   bmi  children smoker     region  charges
0       56    male  29.9         3     no  southwest  2852.92
1       46  female  20.8         4     no  northwest  3101.69
2       32    male  29.0         4     no  northeast  2948.21
3       60    male  31.9         0     no  northeast  2822.84
4       25    male  32.0         1    yes  northwest  7057.69
...    ...     ...   ...       ...    ...        ...      ...
49995   60  female  32.9         2     no  northwest  2127.38
49996   46    male  38.1         1    yes  northwest  6280.25
49997   19  female  23.5         4    yes  southeast  5991.79
49998   43  female  25.6         3     no  southwest  1054.84
49999   28  female  19.1         0     no  northwest  2657.62

[50000 rows x 7 columns]

In [9]:
health_df.tail()

       age     sex   bmi  children smoker     region  charges
49995   60  female  32.9         2     no  northwest  2127.38
49996   46    male  38.1         1    yes  northwest  6280.25
49997   19  female  23.5         4    yes  southeast  5991.79
49998   43  female  25.6         3     no  southwest  1054.84
49999   28  female  19.1         0     no  northwest  2657.62

In [18]:
num_people_children = health_df[health_df["children"] <= 2 ].shape
num_people_children

(30025, 7)

In [19]:
health_df.info

<bound method DataFrame.info of        age     sex   bmi  children smoker     region  charges
0       56    male  29.9         3     no  southwest  2852.92
1       46  female  20.8         4     no  northwest  3101.69
2       32    male  29.0         4     no  northeast  2948.21
3       60    male  31.9         0     no  northeast  2822.84
4       25    male  32.0         1    yes  northwest  7057.69
...    ...     ...   ...       ...    ...        ...      ...
49995   60  female  32.9         2     no  northwest  2127.38
49996   46    male  38.1         1    yes  northwest  6280.25
49997   19  female  23.5         4    yes  southeast  5991.79
49998   43  female  25.6         3     no  southwest  1054.84
49999   28  female  19.1         0     no  northwest  2657.62

[50000 rows x 7 columns]>

In [20]:
health_df.describe()

                age           bmi      children       charges
count  50000.000000  50000.000000  50000.000000  50000.000000
mean      40.979240     27.488528      1.997900   3252.323724
std       13.528733      7.206181      1.413597   2260.560449
min       18.000000     15.000000      0.000000    100.000000
25%       29.000000     21.200000      1.000000   1716.597500
50%       41.000000     27.500000      2.000000   2604.790000
75%       53.000000     33.700000      3.000000   3891.510000
max       64.000000     40.000000      4.000000  11319.530000

In [21]:
!pip install plotly matplotlib seaborn --quiet

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\golu\desktop\machine-learning-models\venv\lib\site-packages (25.1.1)
Collecting pip
  Downloading pip-25.2-py3-none-any.whl.metadata (4.7 kB)
Downloading pip-25.2-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ----------------------------------- ---- 1.6/1.8 MB 11.3 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 10.7 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 25.1.1
    Uninstalling pip-25.1.1:
      Successfully uninstalled pip-25.1.1
Successfully installed pip-25.2
Note: you may need to restart the kernel to use updated packages.

In [25]:
import plotly.express as px
import matplotlib 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [26]:
sns.set_style("darkgrid")
matplotlib.rcParams['font.size'] = 15 
matplotlib.rcParams['figure.figsize'] = (10 , 6)

In [27]:
health_df.age.describe()

count    50000.000000
mean        40.979240
std         13.528733
min         18.000000
25%         29.000000
50%         41.000000
75%         53.000000
max         64.000000
Name: age, dtype: float64

In [37]:



fig = px.histogram(health_df , x= 'age' , marginal='box' , nbins=10 ,title='Distribution of age')
fig.update_layout(bargap = 0.1 )
fig.show()

In [45]:
health_df[(health_df["age"] >= 15) & (health_df["age"]<= 19)].shape[0]

2082

In [56]:
# gender_count = (health_df['sex'] == "female").sum()
gender_counts = health_df['sex'].value_counts()
gender_counts

sex
female    25084
male      24916
Name: count, dtype: int64

In [57]:
health_df

       age     sex   bmi  children smoker     region  charges
0       56    male  29.9         3     no  southwest  2852.92
1       46  female  20.8         4     no  northwest  3101.69
2       32    male  29.0         4     no  northeast  2948.21
3       60    male  31.9         0     no  northeast  2822.84
4       25    male  32.0         1    yes  northwest  7057.69
...    ...     ...   ...       ...    ...        ...      ...
49995   60  female  32.9         2     no  northwest  2127.38
49996   46    male  38.1         1    yes  northwest  6280.25
49997   19  female  23.5         4    yes  southeast  5991.79
49998   43  female  25.6         3     no  southwest  1054.84
49999   28  female  19.1         0     no  northwest  2657.62

[50000 rows x 7 columns]

In [63]:
fig = px.histogram(health_df , x= 'bmi' , marginal='box' , nbins=15 ,title='Distribution of bmi')
fig.update_layout(bargap = 0.1 )
fig.show()

In [66]:
bmi = ( (health_df["bmi"] >= 15) & (health_df["bmi"] <= 16.9) ).sum() 
bmi

np.int64(3927)